+++
title = "Docsy"
linkTitle = "Docsy"

+++

{{< blocks/cover title="Formation Gratuite au Digital & Stage!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-info mr-3 mb-4" href="{{< relref "/formations" >}}">
		Soutenir <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" target="_blanc" href="https:/docs.google.com/forms/d/e/1FAIpQLSdXQCmfxMD_xLpQO-6axg82USyfQtUUTYQ6QU9B1fO62rgVqQ/viewform?usp=sf_link">
		Postulez <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">La prochaine session de Dev-Web et Communication digitale débutera en Mars 2021</p>
	{{< blocks/link-down color="light" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="info" %}}
À l’ère de la transformation numérique, notre marché local a besoin des compétences numériques spécifiques et trop peu de
formations de ce type existent ! Les formations sur les outils du numérique sont pourtant aujourd’hui essentiel pour
lutter contre le chômage et le renforcement de l’employabilité des jeunes essentiels pour l’essor socio-économique de
Djibouti
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}

{{% blocks/feature icon="fa-lightbulb" title="Favoriser" url="/partenaires" %}}
l’insertion professionnelle de personnes éloignées de l’emploi.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Répondre" url="/partenaires" %}}
à des besoins importants de recrutement.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Capitaliser" url="/partenaires" %}}
sur des technologies numériques clés.
{{% /blocks/feature %}}


{{< /blocks/section >}}

